.overview_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.overview_cards div {
  background-color: #eee;
  border-radius: var(--default-border-radius);
  padding: 1rem;
}
.charts {
  height: 400px;
  display: flex;
  align-items: center;
}
